
body {
    background-color: rgb(213, 221, 236);
}

#linkedin-profile {
    width: 200px;
    height: auto;
}

@media (min-width: 320px) and (max-width: 425px) {
    #resumeContent {
        font-size: 10px;
    }
}